{{ $imgSrc := "" }}
{{ $size := (print (site.Params.backgroundImageWidth | default "1200") "x") }}
{{ with .Params.featureimage }}
  {{ $imgType := partial "functions/get-image-type.html" . }}
  {{ if eq $imgType "local" }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
  {{ else }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ range slice "*background*" "*feature*" "*cover*" "*thumbnail*" }}
    {{ if not $imgSrc }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "page-bundle" "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ with site.Params.defaultFeaturedImage }}
    {{ $imgType := partial "functions/get-image-type.html" . }}
    {{ if eq $imgType "local" }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
    {{ else }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldBlur := $.Params.layoutBackgroundBlur | default (or
  (and ($.Site.Params.article.layoutBackgroundBlur | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundBlur | default true) ($isParentList))
  )
}}
{{ $shouldAddHeaderSpace := $.Params.layoutBackgroundHeaderSpace | default (or
  (and ($.Site.Params.article.layoutBackgroundHeaderSpace | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundHeaderSpace | default true) ($isParentList))
  )
}}

{{- with $imgSrc -}}
  {{ if $shouldAddHeaderSpace | default true }}
    <div id="hero" class="h-[150px] md:h-[200px]"></div>
  {{ end }}
  <div class="fixed inset-x-0 top-0 h-[800px] single_hero_background nozoom">
    <img
      id="background-image"
      src="{{ . }}"
      alt="Background Image"
      class="absolute inset-0 w-full h-full object-cover">
    <div
      class="absolute inset-0 bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal"></div>
    <div
      class="absolute inset-0 opacity-60 bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal"></div>
  </div>

  {{ if $shouldBlur | default false }}
    <div
      id="background-blur"
      class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
    {{ $backgroundBlur := resources.Get "js/background-blur.js" }}
    {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint ($.Site.Params.fingerprintAlgorithm | default "sha512") }}
    <script
      type="text/javascript"
      src="{{ $backgroundBlur.RelPermalink }}"
      integrity="{{ $backgroundBlur.Data.Integrity }}"
      data-blur-id="background-blur"
      data-image-id="background-image"
      data-image-url="{{ . }}"></script>
  {{ end }}
{{- end -}}
