{{ $imgSrc := "" }}
{{ $size := (print (site.Params.backgroundImageWidth | default "1200") "x") }}
{{ with .Params.featureimage }}
  {{ $imgType := partial "functions/get-image-type.html" . }}
  {{ if eq $imgType "local" }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
  {{ else }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ range slice "*background*" "*feature*" "*cover*" "*thumbnail*" }}
    {{ if not $imgSrc }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "page-bundle" "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ with site.Params.defaultFeaturedImage }}
    {{ $imgType := partial "functions/get-image-type.html" . }}
    {{ if eq $imgType "local" }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
    {{ else }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with $imgSrc }}
  <div class="overflow-hidden h-36 md:h-56 lg:h-72">
    <img
      src="{{ . }}"
      alt="{{ $.Title }}"
      loading="eager"
      decoding="async"
      fetchpriority="high"
      class="w-full h-full nozoom object-cover">
  </div>
{{ end }}
