{{ $imgSrc := "" }}
{{ $size := (print (site.Params.backgroundImageWidth | default "1200") "x") }}
{{ with .Params.featureimage }}
  {{ $imgType := partial "functions/get-image-type.html" . }}
  {{ if eq $imgType "local" }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
  {{ else }}
    {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ range slice "*background*" "*feature*" "*cover*" "*thumbnail*" }}
    {{ if not $imgSrc }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "page-bundle" "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $imgSrc }}
  {{ with site.Params.defaultFeaturedImage }}
    {{ $imgType := partial "functions/get-image-type.html" . }}
    {{ if eq $imgType "local" }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
    {{ else }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $caption := "" }}
{{ if .Params.featureimagecaption }}
  {{- $caption = .Params.featureimagecaption -}}
{{ end }}

{{- $alt := .Page.Title -}}
{{- with .Page.Params.alt }}{{ $alt = . }}{{ end -}}

{{- with $imgSrc -}}
  <figure>
    <img class="w-full rounded-lg single_hero_round nozoom" alt="{{ $alt }}" src="{{ . }}">
    {{ if $caption }}
      <figcaption class="text-sm text-neutral-700 dark:text-neutral-400 hover:underline text-center">
        {{ $caption | markdownify }}
      </figcaption>
    {{ end }}
  </figure>
{{- end -}}
