{{ $backgroundSrc := "" }}
{{ $size := (print (site.Params.backgroundImageWidth | default "1200") "x") }}
{{ $images := .Resources.ByType "image" }}
{{ $backgroundSrc = ($images.GetMatch "*background*").RelPermalink }}

{{ if not $backgroundSrc }}
  {{ with .Site.Params.defaultBackgroundImage }}
    {{ $imgType := partial "functions/get-image-type.html" . }}
    {{ if eq $imgType "local" }}
      {{ $backgroundSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
    {{ else }}
      {{ $backgroundSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ range slice "*cover*" "*thumbnail*" "*feature*" }}
  {{ if not $backgroundSrc }}
    {{ $backgroundSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "page-bundle" "size" $size ) }}
  {{ end }}
{{ end }}

{{ $featuredSrc := "" }}
{{ with .Params.featureimage }}
  {{ $imgType := partial "functions/get-image-type.html" . }}
  {{ if eq $imgType "local" }}
    {{ $featuredSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
  {{ else }}
    {{ $featuredSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
  {{ end }}
{{ end }}

{{ if not $featuredSrc }}
  {{ range slice "*feature*" "*cover*" "*thumbnail*" "*background*" }}
    {{ if not $featuredSrc }}
      {{ $featuredSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "page-bundle" "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ if not $featuredSrc }}
  {{ with site.Params.defaultFeaturedImage }}
    {{ $imgType := partial "functions/get-image-type.html" . }}
    {{ if eq $imgType "local" }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" "global-assets" "size" $size ) }}
    {{ else }}
      {{ $imgSrc = partial "functions/get-image-src.html" (dict "ctx" $.Page "imgPath" . "type" $imgType "size" $size ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $isParentList := eq (.Scratch.Get "scope") "list" }}
{{ $shouldBlur := $.Params.layoutBackgroundBlur | default (or
  (and ($.Site.Params.article.layoutBackgroundBlur | default true) (not $isParentList))
  (and ($.Site.Params.list.layoutBackgroundBlur | default true) ($isParentList))
  )
}}

{{ with $featuredSrc }}
  <div class="overflow-hidden rounded-md h-36 md:h-56 lg:h-72 nozoom">
    <img
      src="{{ . }}"
      alt="{{ $.Title }}"
      loading="eager"
      decoding="async"
      fetchpriority="high"
      class="w-full h-full nozoom object-cover">
  </div>
{{ end }}


<div class="single_hero_background nozoom fixed inset-x-0 top-0 h-[800px]">
  {{ with $backgroundSrc }}
    <img
      id="background-image-main"
      src="{{ . }}"
      alt="Background Image"
      class="absolute inset-0 h-full w-full object-cover">
  {{ end }}
  <div
    class="from-neutral absolute inset-0 bg-gradient-to-t to-transparent mix-blend-normal dark:from-neutral-800"></div>
  <div
    class="from-neutral to-neutral absolute inset-0 bg-gradient-to-t opacity-30 mix-blend-normal dark:from-neutral-800 dark:to-neutral-800 dark:opacity-60"></div>
</div>

{{ if $shouldBlur | default false }}
  <div
    id="background-blur"
    class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>
  {{ $backgroundBlur := resources.Get "js/background-blur.js" }}
  {{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    type="text/javascript"
    src="{{ $backgroundBlur.RelPermalink }}"
    integrity="{{ $backgroundBlur.Data.Integrity }}"
    data-blur-id="background-blur"
    data-image-id="background-image-main"
    {{ with $backgroundSrc }}data-image-url="{{ . }}"{{ end }}></script>
{{ end }}
