@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@plugin 'tailwind-scrollbar' {
  preferredstrategy: "pseudoelements";
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Breakpoints */
  --breakpoint-sm: 40rem;
  --breakpoint-md: 53.3125rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  /* Neutral colors */
  --color-neutral: var(--clr-neutral);
  --color-neutral-50: var(--clr-neutral-50);
  --color-neutral-100: var(--clr-neutral-100);
  --color-neutral-200: var(--clr-neutral-200);
  --color-neutral-300: var(--clr-neutral-300);
  --color-neutral-400: var(--clr-neutral-400);
  --color-neutral-500: var(--clr-neutral-500);
  --color-neutral-600: var(--clr-neutral-600);
  --color-neutral-700: var(--clr-neutral-700);
  --color-neutral-800: var(--clr-neutral-800);
  --color-neutral-900: var(--clr-neutral-900);

  /* Primary colors */
  --color-primary-50: var(--clr-primary-50);
  --color-primary-100: var(--clr-primary-100);
  --color-primary-200: var(--clr-primary-200);
  --color-primary-300: var(--clr-primary-300);
  --color-primary-400: var(--clr-primary-400);
  --color-primary-500: var(--clr-primary-500);
  --color-primary-600: var(--clr-primary-600);
  --color-primary-700: var(--clr-primary-700);
  --color-primary-800: var(--clr-primary-800);
  --color-primary-900: var(--clr-primary-900);

  /* Secondary colors */
  --color-secondary-50: var(--clr-secondary-50);
  --color-secondary-100: var(--clr-secondary-100);
  --color-secondary-200: var(--clr-secondary-200);
  --color-secondary-300: var(--clr-secondary-300);
  --color-secondary-400: var(--clr-secondary-400);
  --color-secondary-500: var(--clr-secondary-500);
  --color-secondary-600: var(--clr-secondary-600);
  --color-secondary-700: var(--clr-secondary-700);
  --color-secondary-800: var(--clr-secondary-800);
  --color-secondary-900: var(--clr-secondary-900);
}

@utility prose {
  /* Body text */
  --tw-prose-body: var(--clr-neutral-700);

  /* Headings */
  --tw-prose-headings: var(--clr-neutral-800);

  /* Lead */
  --tw-prose-lead: var(--clr-neutral-500);

  /* Links */
  --tw-prose-links: var(--clr-primary-600);

  /* Bold */
  --tw-prose-bold: inherit;

  /* Counters */
  --tw-prose-counters: var(--clr-neutral-800);

  /* Bullets */
  --tw-prose-bullets: var(--clr-neutral-500);

  /* Quotes */
  --tw-prose-quotes: var(--clr-neutral-700);
  --tw-prose-quote-borders: var(--clr-primary-500);

  /* Captions */
  --tw-prose-captions: var(--clr-neutral-500);

  /* Code */
  --tw-prose-code: var(--clr-secondary-700);
  --tw-prose-pre-code: var(--clr-neutral-700);
  --tw-prose-pre-bg: var(--clr-neutral-50);

  /* Tables */
  --tw-prose-th-borders: var(--clr-neutral-500);
  --tw-prose-td-borders: var(--clr-neutral-300);

  /* ========================================= */
  /* Dark mode                                 */
  /* ========================================= */

  /* Body text */
  --tw-prose-invert-body: var(--clr-neutral-300);

  /* Headings */
  --tw-prose-invert-headings: var(--clr-neutral-50);

  /* Lead */
  --tw-prose-invert-lead: var(--clr-neutral-500);

  /* Links */
  --tw-prose-invert-links: var(--clr-primary-400);

  /* Bold */
  --tw-prose-invert-bold: var(--clr-neutral);

  /* Counters */
  --tw-prose-invert-counters: var(--clr-neutral-400);

  /* Bullets */
  --tw-prose-invert-bullets: var(--clr-neutral-600);

  /* Quotes */
  --tw-prose-invert-quotes: var(--clr-neutral-200);
  --tw-prose-invert-quote-borders: var(--clr-primary-600);

  /* Captions */
  --tw-prose-invert-captions: var(--clr-neutral-400);

  /* Code */
  --tw-prose-invert-code: var(--clr-secondary-400);
  --tw-prose-invert-pre-code: var(--clr-neutral-200);
  --tw-prose-invert-pre-bg: var(--clr-neutral-700);

  /* Tables */
  --tw-prose-invert-th-borders: var(--clr-neutral-500);
  --tw-prose-invert-td-borders: var(--clr-neutral-700);

  & a {
    text-decoration: none;
    font-weight: 500;

    &.active {
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 4px;
    }

    & code {
      color: var(--tw-prose-code);
    }
  }

  & hr {
    border: 0.8px solid var(--clr-neutral-300);
  }

  & kbd {
    background-color: var(--clr-neutral-200);
    padding: 0.1rem 0.4rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: 600;
  }

  & mark {
    color: var(--clr-neutral-800);
    background-color: var(--clr-primary-600);
    padding: 0.1rem 0.2rem;
    border-radius: 0.25rem;
  }

  & code {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.25rem;

    &::before,
    &::after {
      display: none;
    }
  }

  & p {
    &::before,
    &::after {
      display: none;
    }

    &.active {
      text-decoration-color: var(--clr-primary-600);
    }
  }
}

@utility prose-invert {
  & a {
    text-decoration: none;
    color: var(--clr-primary-400);
    font-weight: 500;

    &.active {
      text-decoration-line: underline;
      text-decoration-thickness: 3px;
      text-underline-offset: 4px;
    }
  }

  & kbd {
    color: var(--clr-neutral-200);
    background-color: var(--clr-neutral-700);
  }

  & mark {
    background-color: var(--clr-primary-400);
  }

  & code:not(pre code) {
    background-color: theme("colors.zinc.900 / 0.7");
  }

  & hr {
    border: 0.8px solid var(--clr-neutral-500);
  }

  & p.active {
    text-decoration-color: var(--clr-primary-400);
  }
}
