:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(214, 251, 252);
  --clr-neutral-200: rgb(142, 245, 247);
  --clr-neutral-300: rgb(70, 239, 243);
  --clr-neutral-400: rgb(15, 217, 222);
  --clr-neutral-500: rgb(10, 147, 150);
  --clr-neutral-600: rgb(7, 110, 112);
  --clr-neutral-700: rgb(5, 72, 74);
  --clr-neutral-800: rgb(2, 35, 35);
  --clr-neutral-900: rgb(0, 0, 0);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(255, 240, 212);
  --clr-primary-300: rgb(255, 213, 136);
  --clr-primary-400: rgb(255, 187, 59);
  --clr-primary-500: rgb(238, 155, 0);
  --clr-primary-600: rgb(197, 128, 0);
  --clr-primary-700: rgb(156, 102, 0);
  --clr-primary-800: rgb(116, 75, 0);
  --clr-primary-900: rgb(75, 49, 0);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(255, 246, 241);
  --clr-secondary-200: rgb(254, 194, 166);
  --clr-secondary-300: rgb(252, 142, 91);
  --clr-secondary-400: rgb(251, 91, 15);
  --clr-secondary-500: rgb(187, 62, 3);
  --clr-secondary-600: rgb(147, 49, 2);
  --clr-secondary-700: rgb(107, 35, 2);
  --clr-secondary-800: rgb(67, 22, 1);
  --clr-secondary-900: rgb(26, 9, 0);
}
