/* Avocado scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Stone */
  --clr-neutral-50: rgb(250, 250, 249);
  --clr-neutral-100: rgb(245, 245, 244);
  --clr-neutral-200: rgb(231, 229, 228);
  --clr-neutral-300: rgb(214, 211, 209);
  --clr-neutral-400: rgb(168, 162, 158);
  --clr-neutral-500: rgb(120, 113, 108);
  --clr-neutral-600: rgb(87, 83, 78);
  --clr-neutral-700: rgb(68, 64, 60);
  --clr-neutral-800: rgb(41, 37, 36);
  --clr-neutral-900: rgb(28, 25, 23);
  /* Lime */
  --clr-primary-50: rgb(247, 254, 231);
  --clr-primary-100: rgb(236, 252, 203);
  --clr-primary-200: rgb(217, 249, 157);
  --clr-primary-300: rgb(190, 242, 100);
  --clr-primary-400: rgb(163, 230, 53);
  --clr-primary-500: rgb(132, 204, 22);
  --clr-primary-600: rgb(101, 163, 13);
  --clr-primary-700: rgb(77, 124, 15);
  --clr-primary-800: rgb(63, 98, 18);
  --clr-primary-900: rgb(54, 83, 20);
  /* Emerald */
  --clr-secondary-50: rgb(236, 253, 245);
  --clr-secondary-100: rgb(209, 250, 229);
  --clr-secondary-200: rgb(167, 243, 208);
  --clr-secondary-300: rgb(110, 231, 183);
  --clr-secondary-400: rgb(52, 211, 153);
  --clr-secondary-500: rgb(16, 185, 129);
  --clr-secondary-600: rgb(5, 150, 105);
  --clr-secondary-700: rgb(4, 120, 87);
  --clr-secondary-800: rgb(6, 95, 70);
  --clr-secondary-900: rgb(6, 78, 59);
}
