:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(254, 197, 207);
  --clr-neutral-200: rgb(253, 121, 144);
  --clr-neutral-300: rgb(251, 46, 82);
  --clr-neutral-400: rgb(217, 4, 41);
  --clr-neutral-500: rgb(177, 3, 33);
  --clr-neutral-600: rgb(137, 3, 26);
  --clr-neutral-700: rgb(97, 2, 18);
  --clr-neutral-800: rgb(57, 1, 11);
  --clr-neutral-900: rgb(17, 0, 3);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(230, 233, 238);
  --clr-primary-300: rgb(186, 193, 206);
  --clr-primary-400: rgb(141, 153, 174);
  --clr-primary-500: rgb(117, 132, 157);
  --clr-primary-600: rgb(97, 111, 136);
  --clr-primary-700: rgb(80, 92, 113);
  --clr-primary-800: rgb(63, 72, 89);
  --clr-primary-900: rgb(46, 53, 65);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(217, 230, 238);
  --clr-secondary-200: rgb(164, 195, 215);
  --clr-secondary-300: rgb(111, 160, 192);
  --clr-secondary-400: rgb(69, 123, 157);
  --clr-secondary-500: rgb(57, 101, 129);
  --clr-secondary-600: rgb(44, 79, 100);
  --clr-secondary-700: rgb(32, 56, 72);
  --clr-secondary-800: rgb(19, 34, 44);
  --clr-secondary-900: rgb(7, 12, 15);
}
