/* Blowfish scheme */
:root {
  --clr-neutral: rgb(255, 255, 255);
  /* neutral */
  --clr-neutral-50: oklch(0.985 0.002 247.839);
  --clr-neutral-100: oklch(0.967 0.003 264.542);
  --clr-neutral-200: oklch(0.928 0.006 264.531);
  --clr-neutral-300: oklch(0.872 0.01 258.338);
  --clr-neutral-400: oklch(0.707 0.022 261.325);
  --clr-neutral-500: oklch(0.551 0.027 264.364);
  --clr-neutral-600: oklch(0.446 0.03 256.802);
  --clr-neutral-700: oklch(0.373 0.034 259.733);
  --clr-neutral-800: oklch(0.278 0.033 256.848);
  --clr-neutral-900: oklch(0.21 0.034 264.665);
  --clr-neutral-950: oklch(0.13 0.028 261.692);
  /* primary */
  --clr-primary-50: oklch(0.97 0.014 254.604);
  --clr-primary-100: oklch(0.932 0.032 255.585);
  --clr-primary-200: oklch(0.882 0.059 254.128);
  --clr-primary-300: oklch(0.809 0.105 251.813);
  --clr-primary-400: oklch(0.707 0.165 254.624);
  --clr-primary-500: oklch(0.623 0.214 259.815);
  --clr-primary-600: oklch(0.546 0.245 262.881);
  --clr-primary-700: oklch(0.488 0.243 264.376);
  --clr-primary-800: oklch(0.424 0.199 265.638);
  --clr-primary-900: oklch(0.379 0.146 265.522);
  --clr-primary-950: oklch(0.282 0.091 267.935);
  /* secondary */
  --clr-secondary-50: oklch(0.984 0.019 200.873);
  --clr-secondary-100: oklch(0.956 0.045 203.388);
  --clr-secondary-200: oklch(0.917 0.08 205.041);
  --clr-secondary-300: oklch(0.865 0.127 207.078);
  --clr-secondary-400: oklch(0.789 0.154 211.53);
  --clr-secondary-500: oklch(0.715 0.143 215.221);
  --clr-secondary-600: oklch(0.609 0.126 221.723);
  --clr-secondary-700: oklch(0.52 0.105 223.128);
  --clr-secondary-800: oklch(0.45 0.085 224.283);
  --clr-secondary-900: oklch(0.398 0.07 227.392);
  --clr-secondary-950: oklch(0.302 0.056 229.695);

}
