/* Blowfish scheme */
:root {
  --clr-neutral: rgb(255, 255, 255);
  /* Gray */
  --clr-neutral-50: rgb(248, 250, 252);
  --clr-neutral-100: rgb(241, 245, 249);
  --clr-neutral-200: rgb(226, 232, 240);
  --clr-neutral-300: rgb(203, 213, 225);
  --clr-neutral-400: rgb(148, 163, 184);
  --clr-neutral-500: rgb(100, 116, 139);
  --clr-neutral-600: rgb(71, 85, 105);
  --clr-neutral-700: rgb(51, 65, 85);
  --clr-neutral-800: rgb(30, 41, 59);
  --clr-neutral-900: rgb(15, 23, 42);
  /* primary */
  --clr-primary-50: oklch(0.97 0.014 254.604);
  --clr-primary-100: oklch(0.932 0.032 255.585);
  --clr-primary-200: oklch(0.882 0.059 254.128);
  --clr-primary-300: oklch(0.809 0.105 251.813);
  --clr-primary-400: oklch(0.707 0.165 254.624);
  --clr-primary-500: oklch(0.623 0.214 259.815);
  --clr-primary-600: oklch(0.546 0.245 262.881);
  --clr-primary-700: oklch(0.488 0.243 264.376);
  --clr-primary-800: oklch(0.424 0.199 265.638);
  --clr-primary-900: oklch(0.379 0.146 265.522);
  --clr-primary-950: oklch(0.282 0.091 267.935);
  /* secondary */
  --clr-secondary-50: oklch(0.984 0.019 200.873);
  --clr-secondary-100: oklch(0.956 0.045 203.388);
  --clr-secondary-200: oklch(0.917 0.08 205.041);
  --clr-secondary-300: oklch(0.865 0.127 207.078);
  --clr-secondary-400: oklch(0.789 0.154 211.53);
  --clr-secondary-500: oklch(0.715 0.143 215.221);
  --clr-secondary-600: oklch(0.609 0.126 221.723);
  --clr-secondary-700: oklch(0.52 0.105 223.128);
  --clr-secondary-800: oklch(0.45 0.085 224.283);
  --clr-secondary-900: oklch(0.398 0.07 227.392);
  --clr-secondary-950: oklch(0.302 0.056 229.695);

}
