/* Blowfish scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --clr-neutral-50: rgb(250, 250, 250);
  --clr-neutral-100: rgb(244, 244, 245);
  --clr-neutral-200: rgb(228, 228, 231);
  --clr-neutral-300: rgb(212, 212, 216);
  --clr-neutral-400: rgb(161, 161, 170);
  --clr-neutral-500: rgb(113, 113, 122);
  --clr-neutral-600: rgb(82, 82, 91);
  --clr-neutral-700: rgb(63, 63, 70);
  --clr-neutral-800: rgb(39, 39, 42);
  --clr-neutral-900: rgb(24, 24, 27);
  /* Violet */
  --clr-primary-50: rgb(245, 243, 255);
  --clr-primary-100: rgb(237, 233, 254);
  --clr-primary-200: rgb(221, 214, 254);
  --clr-primary-300: rgb(196, 181, 253);
  --clr-primary-400: rgb(167, 139, 250);
  --clr-primary-500: rgb(139, 92, 246);
  --clr-primary-600: rgb(124, 58, 237);
  --clr-primary-700: rgb(109, 40, 217);
  --clr-primary-800: rgb(91, 33, 182);
  --clr-primary-900: rgb(76, 29, 149);
  /* Fuchsia */
  --clr-secondary-50: rgb(253, 244, 255);
  --clr-secondary-100: rgb(250, 232, 255);
  --clr-secondary-200: rgb(245, 208, 254);
  --clr-secondary-300: rgb(240, 171, 252);
  --clr-secondary-400: rgb(232, 121, 249);
  --clr-secondary-500: rgb(217, 70, 239);
  --clr-secondary-600: rgb(192, 38, 211);
  --clr-secondary-700: rgb(162, 28, 175);
  --clr-secondary-800: rgb(134, 25, 143);
  --clr-secondary-900: rgb(112, 26, 117);
}
