/* Fire scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Stone */
  --clr-neutral-50: rgb(250, 250, 249);
  --clr-neutral-100: rgb(245, 245, 244);
  --clr-neutral-200: rgb(231, 229, 228);
  --clr-neutral-300: rgb(214, 211, 209);
  --clr-neutral-400: rgb(168, 162, 158);
  --clr-neutral-500: rgb(120, 113, 108);
  --clr-neutral-600: rgb(87, 83, 78);
  --clr-neutral-700: rgb(68, 64, 60);
  --clr-neutral-800: rgb(41, 37, 36);
  --clr-neutral-900: rgb(28, 25, 23);
  /* Orange */
  --clr-primary-50: rgb(255, 247, 237);
  --clr-primary-100: rgb(255, 237, 213);
  --clr-primary-200: rgb(254, 215, 170);
  --clr-primary-300: rgb(253, 186, 116);
  --clr-primary-400: rgb(251, 146, 60);
  --clr-primary-500: rgb(249, 115, 22);
  --clr-primary-600: rgb(234, 88, 12);
  --clr-primary-700: rgb(194, 65, 12);
  --clr-primary-800: rgb(154, 52, 18);
  --clr-primary-900: rgb(124, 45, 18);
  /* Rose */
  --clr-secondary-50: rgb(255, 241, 242);
  --clr-secondary-100: rgb(255, 228, 230);
  --clr-secondary-200: rgb(254, 205, 211);
  --clr-secondary-300: rgb(253, 164, 175);
  --clr-secondary-400: rgb(251, 113, 133);
  --clr-secondary-500: rgb(244, 63, 94);
  --clr-secondary-600: rgb(225, 29, 72);
  --clr-secondary-700: rgb(190, 18, 60);
  --clr-secondary-800: rgb(159, 18, 57);
  --clr-secondary-900: rgb(136, 19, 55);
}
