:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(232, 238, 237);
  --clr-neutral-200: rgb(188, 206, 203);
  --clr-neutral-300: rgb(143, 174, 170);
  --clr-neutral-400: rgb(101, 140, 134);
  --clr-neutral-500: rgb(84, 116, 111);
  --clr-neutral-600: rgb(67, 93, 89);
  --clr-neutral-700: rgb(50, 69, 66);
  --clr-neutral-800: rgb(33, 45, 43);
  --clr-neutral-900: rgb(16, 21, 21);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(205, 252, 247);
  --clr-primary-300: rgb(132, 249, 235);
  --clr-primary-400: rgb(59, 245, 223);
  --clr-primary-500: rgb(20, 243, 217);
  --clr-primary-600: rgb(11, 212, 188);
  --clr-primary-700: rgb(9, 173, 153);
  --clr-primary-800: rgb(7, 134, 119);
  --clr-primary-900: rgb(5, 95, 84);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(194, 253, 219);
  --clr-secondary-200: rgb(120, 251, 175);
  --clr-secondary-300: rgb(45, 249, 130);
  --clr-secondary-400: rgb(6, 212, 92);
  --clr-secondary-500: rgb(5, 172, 75);
  --clr-secondary-600: rgb(4, 133, 58);
  --clr-secondary-700: rgb(3, 93, 40);
  --clr-secondary-800: rgb(2, 53, 23);
  --clr-secondary-900: rgb(0, 14, 6);
}
