:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(248, 250, 252);
  --clr-neutral-100: rgb(241, 245, 249);
  --clr-neutral-200: rgb(226, 232, 240);
  --clr-neutral-300: rgb(203, 213, 225);
  --clr-neutral-400: rgb(148, 163, 184);
  --clr-neutral-500: rgb(100, 116, 139);
  --clr-neutral-600: rgb(71, 85, 105);
  --clr-neutral-700: rgb(51, 57, 65);
  --clr-neutral-800: rgb(20, 25, 31);
  --clr-neutral-900: rgb(15, 23, 42);

  --clr-primary-50: rgb(226, 242, 255);
  --clr-primary-100: rgb(186, 221, 255);
  --clr-primary-200: rgb(141, 201, 255);
  --clr-primary-300: rgb(91, 179, 255);
  --clr-primary-400: rgb(50, 162, 255);
  --clr-primary-500: rgb(0, 146, 255);
  --clr-primary-600: rgb(23, 131, 255);
  --clr-primary-700: rgb(31, 113, 235);
  --clr-primary-800: rgb(35, 95, 216);
  --clr-primary-900: rgb(38, 61, 185);

  --clr-secondary-50: rgb(255, 236, 241);
  --clr-secondary-100: rgb(255, 208, 218);
  --clr-secondary-200: rgb(253, 157, 166);
  --clr-secondary-300: rgb(249, 117, 130);
  --clr-secondary-400: rgb(255, 79, 98);
  --clr-secondary-500: rgb(255, 57, 73);
  --clr-secondary-600: rgb(255, 48, 72);
  --clr-secondary-700: rgb(237, 36, 65);
  --clr-secondary-800: rgb(224, 27, 58);
  --clr-secondary-900: rgb(209, 4, 45);
}
