:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(255, 255, 255);
  --clr-neutral-200: rgb(201, 209, 244);
  --clr-neutral-300: rgb(137, 156, 231);
  --clr-neutral-400: rgb(74, 103, 217);
  --clr-neutral-500: rgb(37, 65, 178);
  --clr-neutral-600: rgb(30, 53, 144);
  --clr-neutral-700: rgb(23, 40, 110);
  --clr-neutral-800: rgb(16, 28, 77);
  --clr-neutral-900: rgb(9, 16, 43);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(252, 211, 226);
  --clr-primary-300: rgb(246, 140, 178);
  --clr-primary-400: rgb(240, 69, 131);
  --clr-primary-500: rgb(216, 17, 89);
  --clr-primary-600: rgb(178, 14, 73);
  --clr-primary-700: rgb(140, 11, 58);
  --clr-primary-800: rgb(103, 8, 42);
  --clr-primary-900: rgb(65, 5, 27);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(255, 255, 255);
  --clr-secondary-200: rgb(255, 255, 255);
  --clr-secondary-300: rgb(255, 242, 219);
  --clr-secondary-400: rgb(255, 215, 143);
  --clr-secondary-500: rgb(255, 188, 66);
  --clr-secondary-600: rgb(255, 174, 25);
  --clr-secondary-700: rgb(239, 155, 0);
  --clr-secondary-800: rgb(199, 128, 0);
  --clr-secondary-900: rgb(158, 102, 0);
}
