:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(255, 255, 255);
  --clr-neutral-200: rgb(218, 196, 249);
  --clr-neutral-300: rgb(175, 126, 243);
  --clr-neutral-400: rgb(131, 56, 236);
  --clr-neutral-500: rgb(108, 22, 229);
  --clr-neutral-600: rgb(91, 18, 192);
  --clr-neutral-700: rgb(73, 15, 155);
  --clr-neutral-800: rgb(56, 11, 118);
  --clr-neutral-900: rgb(38, 8, 80);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 230, 241);
  --clr-primary-200: rgb(255, 153, 197);
  --clr-primary-300: rgb(255, 77, 154);
  --clr-primary-400: rgb(255, 0, 110);
  --clr-primary-500: rgb(214, 0, 92);
  --clr-primary-600: rgb(173, 0, 75);
  --clr-primary-700: rgb(133, 0, 57);
  --clr-primary-800: rgb(92, 0, 40);
  --clr-primary-900: rgb(51, 0, 22);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(255, 255, 255);
  --clr-secondary-200: rgb(211, 228, 255);
  --clr-secondary-300: rgb(135, 181, 255);
  --clr-secondary-400: rgb(58, 134, 255);
  --clr-secondary-500: rgb(17, 109, 255);
  --clr-secondary-600: rgb(0, 89, 231);
  --clr-secondary-700: rgb(0, 74, 191);
  --clr-secondary-800: rgb(0, 58, 150);
  --clr-secondary-900: rgb(0, 42, 109);
}
