:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(255, 255, 255);
  --clr-neutral-200: rgb(214, 219, 222);
  --clr-neutral-300: rgb(172, 183, 188);
  --clr-neutral-400: rgb(129, 146, 154);
  --clr-neutral-500: rgb(92, 107, 115);
  --clr-neutral-600: rgb(74, 86, 92);
  --clr-neutral-700: rgb(56, 65, 70);
  --clr-neutral-800: rgb(38, 44, 47);
  --clr-neutral-900: rgb(19, 23, 24);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(255, 255, 255);
  --clr-primary-300: rgb(250, 251, 252);
  --clr-primary-400: rgb(204, 216, 222);
  --clr-primary-500: rgb(157, 180, 192);
  --clr-primary-600: rgb(132, 161, 176);
  --clr-primary-700: rgb(107, 142, 160);
  --clr-primary-800: rgb(89, 121, 138);
  --clr-primary-900: rgb(73, 99, 113);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(255, 255, 255);
  --clr-secondary-200: rgb(182, 240, 255);
  --clr-secondary-300: rgb(105, 225, 255);
  --clr-secondary-400: rgb(28, 209, 255);
  --clr-secondary-500: rgb(0, 165, 207);
  --clr-secondary-600: rgb(0, 132, 166);
  --clr-secondary-700: rgb(0, 100, 125);
  --clr-secondary-800: rgb(0, 67, 85);
  --clr-secondary-900: rgb(0, 35, 44);
}
