/* Ocean scheme */
:root {
  --color-neutral: 255, 255, 255;
  /* Gray */
  --clr-neutral-50: rgb(248, 250, 252);
  --clr-neutral-100: rgb(241, 245, 249);
  --clr-neutral-200: rgb(226, 232, 240);
  --clr-neutral-300: rgb(203, 213, 225);
  --clr-neutral-400: rgb(148, 163, 184);
  --clr-neutral-500: rgb(100, 116, 139);
  --clr-neutral-600: rgb(71, 85, 105);
  --clr-neutral-700: rgb(51, 65, 85);
  --clr-neutral-800: rgb(30, 41, 59);
  --clr-neutral-900: rgb(15, 23, 42);
  /* Blue */
  --clr-primary-50: rgb(239, 246, 255);
  --clr-primary-100: rgb(219, 234, 254);
  --clr-primary-200: rgb(191, 219, 254);
  --clr-primary-300: rgb(147, 197, 253);
  --clr-primary-400: rgb(96, 165, 250);
  --clr-primary-500: rgb(59, 130, 246);
  --clr-primary-600: rgb(37, 99, 235);
  --clr-primary-700: rgb(29, 78, 216);
  --clr-primary-800: rgb(30, 64, 175);
  --clr-primary-900: rgb(30, 58, 138);
  /* Cyan */
  --clr-secondary-50: rgb(236, 254, 255);
  --clr-secondary-100: rgb(207, 250, 254);
  --clr-secondary-200: rgb(165, 243, 252);
  --clr-secondary-300: rgb(103, 232, 249);
  --clr-secondary-400: rgb(34, 211, 238);
  --clr-secondary-500: rgb(6, 182, 212);
  --clr-secondary-600: rgb(8, 145, 178);
  --clr-secondary-700: rgb(14, 116, 144);
  --clr-secondary-800: rgb(21, 94, 117);
  --clr-secondary-900: rgb(22, 78, 99);
}
