:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(248, 248, 248);
  --clr-neutral-100: rgb(241, 241, 241);
  --clr-neutral-200: rgb(226, 226, 226);
  --clr-neutral-300: rgb(203, 203, 203);
  --clr-neutral-400: rgb(188, 188, 188);
  --clr-neutral-500: rgb(100, 100, 100);
  --clr-neutral-600: rgb(71, 71, 71);
  --clr-neutral-700: rgb(45, 45, 45);
  --clr-neutral-800: rgb(23, 23, 23);
  --clr-neutral-900: rgb(15, 15, 15);

  --clr-primary-50: rgb(224, 244, 255);
  --clr-primary-100: rgb(179, 224, 255);
  --clr-primary-200: rgb(128, 202, 255);
  --clr-primary-300: rgb(77, 179, 249);
  --clr-primary-400: rgb(31, 158, 234);
  --clr-primary-500: rgb(0, 122, 204);
  --clr-primary-600: rgb(0, 110, 184);
  --clr-primary-700: rgb(0, 94, 163);
  --clr-primary-800: rgb(0, 79, 143);
  --clr-primary-900: rgb(0, 57, 111);

  --clr-secondary-50: rgb(225, 244, 238);
  --clr-secondary-100: rgb(182, 227, 212);
  --clr-secondary-200: rgb(135, 209, 184);
  --clr-secondary-300: rgb(88, 190, 157);
  --clr-secondary-400: rgb(55, 175, 137);
  --clr-secondary-500: rgb(32, 160, 119);
  --clr-secondary-600: rgb(28, 146, 107);
  --clr-secondary-700: rgb(22, 130, 92);
  --clr-secondary-800: rgb(12, 114, 79);
  --clr-secondary-900: rgb(0, 86, 52);
}
