:root {
  --color-neutral: 255, 255, 255;
  --clr-neutral-50: rgb(255, 255, 255);
  --clr-neutral-100: rgb(238, 232, 238);
  --clr-neutral-200: rgb(206, 188, 206);
  --clr-neutral-300: rgb(174, 143, 174);
  --clr-neutral-400: rgb(140, 101, 140);
  --clr-neutral-500: rgb(116, 84, 116);
  --clr-neutral-600: rgb(93, 67, 93);
  --clr-neutral-700: rgb(69, 50, 69);
  --clr-neutral-800: rgb(45, 33, 45);
  --clr-neutral-900: rgb(21, 16, 21);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(255, 255, 255);
  --clr-primary-200: rgb(252, 205, 252);
  --clr-primary-300: rgb(249, 132, 247);
  --clr-primary-400: rgb(245, 59, 242);
  --clr-primary-500: rgb(243, 20, 239);
  --clr-primary-600: rgb(212, 11, 208);
  --clr-primary-700: rgb(173, 9, 170);
  --clr-primary-800: rgb(134, 7, 132);
  --clr-primary-900: rgb(95, 5, 94);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(227, 194, 253);
  --clr-secondary-200: rgb(192, 120, 251);
  --clr-secondary-300: rgb(157, 45, 249);
  --clr-secondary-400: rgb(119, 6, 212);
  --clr-secondary-500: rgb(97, 5, 172);
  --clr-secondary-600: rgb(74, 4, 133);
  --clr-secondary-700: rgb(52, 3, 93);
  --clr-secondary-800: rgb(30, 2, 53);
  --clr-secondary-900: rgb(8, 0, 14);
}
