:root {
  --clr-neutral: rgb(255, 255, 255);
  --clr-neutral-50: rgb(203, 255, 227);
  --clr-neutral-100: rgb(126, 255, 186);
  --clr-neutral-200: rgb(49, 255, 145);
  --clr-neutral-300: rgb(0, 228, 106);
  --clr-neutral-400: rgb(0, 152, 71);
  --clr-neutral-500: rgb(0, 75, 35);
  --clr-neutral-600: rgb(0, 50, 23);
  --clr-neutral-700: rgb(0, 24, 11);
  --clr-neutral-800: rgb(0, 24, 11);
  --clr-neutral-900: rgb(0, 0, 0);
  --clr-primary-50: rgb(255, 255, 255);
  --clr-primary-100: rgb(236, 255, 227);
  --clr-primary-200: rgb(184, 255, 150);
  --clr-primary-300: rgb(132, 255, 74);
  --clr-primary-400: rgb(80, 252, 0);
  --clr-primary-500: rgb(56, 176, 0);
  --clr-primary-600: rgb(48, 151, 0);
  --clr-primary-700: rgb(40, 125, 0);
  --clr-primary-800: rgb(40, 125, 0);
  --clr-primary-900: rgb(7, 23, 0);
  --clr-secondary-50: rgb(255, 255, 255);
  --clr-secondary-100: rgb(239, 248, 252);
  --clr-secondary-200: rgb(173, 220, 242);
  --clr-secondary-300: rgb(107, 192, 231);
  --clr-secondary-400: rgb(41, 164, 220);
  --clr-secondary-500: rgb(26, 117, 159);
  --clr-secondary-600: rgb(22, 101, 137);
  --clr-secondary-700: rgb(19, 85, 115);
  --clr-secondary-800: rgb(19, 85, 115);
  --clr-secondary-900: rgb(4, 20, 28);
}
